body{
    margin: 2%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h1{
    font-size: 30px;
    margin-left: 1%;
    margin-top: 3%;
    font-family: sans-serif;
    color: #3d475b;
}

.comunicado img{
    width: 600px;
    height: 400px;
    margin-left: 2%;
    margin-top: 12px;
}

.notices{
    display: flex;
}

.tecno img{
    width: 600px;
    height: 400px;
    margin-top: 12px;
    margin-left: 37px;
}