body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  font-family: Arial, sans-serif;
  background-color: #E9F4F3;
}

.navbar {
    
    background-color: #b4b8bb;
  /*background-color: #333;*/
  color: #fff;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.menu {
  display: flex;
  list-style-type: none;
  /*background-color: #ADADAD;*/
  align-items: center;
  margin-right: 45px !important;
  
}

.menu li {
   
  margin-right: 0.1px;
  position: relative;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #3d475b;
  font-weight: bold;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  padding: 10px 0;
  background-color: #ADADAD;
}

.submenu li {
  margin-right: 0;
  margin-bottom: 5px;
}

.submenu a {
    color: #3d475b;
}
/*agregado*/

.priHabilitado{
    background-color: #F5F6F7;
    color: #3d475b;
    
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer; 
}
.priHabilitadoInicio{
  background-color: #F5F6F7;
  color: #3d475b;
  display: flex;
  align-items: center;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: background-color 0.3s;
  transition: color 0.3s;
  cursor: pointer; 
}

.priHabilitado i{
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.priHabilitado:hover{
    color: #F5F6F7;
    background-color: #235298;
}

.priHabilitado2{
    background-color: #ADADAD;
    color: #3d475b;
    display: flex;
    align-items: center;
    padding: 15.5px;
    
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer; 
}
.priHabilitado2:hover{
    color: #F5F6F7;
    background-color: #235298;
    
}

.iniSesion {
    display: flex;
    align-items: center;
    gap:2px;
    background-color: #F5F6F7;
    color: #3d475b;
    border-radius: 7px ;
    padding: 10px;
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
    margin-left: 20px;
}
.iniSesion i{
    background-color: #3d475b;
    color: #F5F6F7;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.iniSesion:hover{
    color: #F5F6F7;
    background-color: #235298;
}

.iniSesion:hover i{
    background-color: #f5f5f5;
    color: #ee316b;
}

.ultimo{
    background-color: #ADADAD;
    color: #3d475b;
    display: flex;
    align-items: center;
    padding: 15.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer; 
}
.ultimo:hover{
    background-color: #235298;
    color: #F5F6F7;
}


/*hasta aqui*/

.menu li:hover .submenu {
  display: block;
  
}
.submenu.active {
  display: block;
}



@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    background-color: #ADADAD;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu a {
    color: #3d475b;
    font-weight: bold;
  }

  .submenu {
    display: none;
    position: static;
    background-color: #ADADAD;
    padding-left: 20px;
  }

  .submenu.active {
    display: block;
  }
  .avisos{
    flex-direction: column;
  }
  .comunicado img, .tecno img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    margin-top: -3px !important;
  }
  .tecno img {
    margin-left: -4px !important; 
  }
  .aviso{
    text-align: center;
    
  }
  .priHabilitadoInicio{
    border-radius: 5px;
  }
  .iniSesion{
    margin-right: 18px;
  }
}
.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;
}
/*hasta aqui*/
.aviso{
    font-size: 30px;
    margin-left: 0.5%;
    margin-top: 15px;
    font-family: sans-serif;
    color: #3d475b;
}
.comunicado img{
    width: 650px;
    height: 435px;
    margin-left: -1%;
    margin-top: 12px;
}
.avisos{
    display: flex;
}
.tecno img{
    width: 650px;
    height: 435px;
    margin-top: 12px;
    margin-left: 25px;
}
