/*body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  font-family: Arial, sans-serif;
  background-color: #E9F4F3;
}*/
body {
  font-size: 100%;
  font-family: Arial, sans-serif;
  background-color: #E9F4F3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar {
    
    background-color: #b4b8bb;
  /*background-color: #333;*/
  color: #fff;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo {
  display: flex;
  align-items: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.logo-text {
  color: #1C427A;
            font-size: 24px;
            font-weight: bold;
            margin-left: 200px;
 
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.menu {
  display: flex;
  list-style-type: none;
  /*background-color: #ADADAD;*/
  align-items: center;  
  margin-right: 10px;
  z-index: 2;
}

.menu li {
   
  margin-right: 0.1px;
  position: relative;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #42424D;
  font-weight: bold;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  padding: 10px 0;
  background-color:#C2C2C2;
  margin: 0px;
  padding: 0px;
}

.submenu li {
  margin-right: 0;
  margin-bottom: 5px;
}

.submenu a{
    color: #3d475b;
    padding-top: 17px;
    padding-bottom: 17px;
}

.submenu p{
  margin: 0px;
  padding: 0px;
}

/*agregado*/

.priHabilitado{
    background-color: #F5F6F7;
    color: #3d475b;
    
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer; 
}
.priHabilitadoInicio{
  background-color: #F5F6F7;
  color: #3d475b;
  display: flex;
  align-items: center;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: background-color 0.3s;
  transition: color 0.3s;
  cursor: pointer; 
}

.priHabilitado i{
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.priHabilitado:hover{
    color: #F5F6F7;
    background-color: #235298;
}

.priHabilitado2{
    background-color: #ADADAD;
    color: #3d475b;
    display: flex;
    align-items: center;
    padding: 15.5px;
    
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer; 
}
.priHabilitado2:hover{
    color: #F5F6F7;
    background-color: #235298;
    
}

.iniSesion {
    display: flex;
    align-items: center;
    gap:2px;
    background-color: #F5F6F7;
    color: #3d475b;
    border-radius: 7px ;
    padding: 10px;
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
    margin-left: 20px;
}
.iniSesion i{
    background-color: #3d475b;
    color: #F5F6F7;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.iniSesion:hover{
    color: #F5F6F7;
    background-color: #235298;
}

.iniSesion:hover i{
    background-color: #f5f5f5;
    color: #ee316b;
}

.ultimo{
    background-color: #ADADAD;
    color: #3d475b;
    display: flex;
    align-items: center;
    padding: 15.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer; 
}
.ultimo:hover{
    background-color: #235298;
    color: #F5F6F7;
}


/*hasta aqui*/

.menu li:hover .submenu {
  display: block;
  
}
.submenu.active {
  display: block;
}



@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    background-color: #ADADAD;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu a {
    color: #3d475b;
    font-weight: bold;
  }

  .submenu {
    display: none;
    position: static;
    background-color: #ADADAD;
    padding-left: 20px;
  }

  .submenu.active {
    display: block;
  }
  .avisos{
    flex-direction: column;
  }
  .comunicado img, .tecno img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    margin-top: -3px !important;
  }
  .tecno img {
    margin-left: -4px !important; 
  }
  .aviso{
    text-align: center;
    
  }
  .priHabilitadoInicio{
    border-radius: 5px;
  }
  .iniSesion{
    margin-right: 18px;
  }
}
.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;
}
/*hasta aqui*/
.aviso{
    font-size: 30px;
    margin-left: 0.5%;
    margin-top: 15px;
    font-family: sans-serif;
    color: #3d475b;
}
.comunicado img{
    width: 650px;
    height: 435px;
    margin-left: -1%;
    margin-top: 12px;
}
.avisos{
    display: flex;
}
.tecno img{
    width: 650px;
    height: 435px;
    margin-top: 12px;
    margin-left: 25px;
}




/* otro*/
.container-reservas {
  width: 400px;
  height: auto;
  margin: 50px auto;
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; 
  border-radius: 10px;
  z-index: 2;
}

.container-reservas h2 {
  text-align: start;
  margin-bottom: 20px;
}
.container-reservas ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px; /* Ajusta este valor según tu preferencia */
 overflow-y: auto; /* Añade la barra de desplazamiento vertical */
}

.container-reservas  li {
  padding: 8px;
  background-color: #0B6F63;
  color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel-button {
  background-color: #EE316B;
  color: #FFFFFF;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 8px;
  margin-right: 30px;
}


.editar-button {
background-color: #393e41; /* Cambia el color del fondo del botón a gris oscuro */
color: white; /* Color del texto */
border: none;
padding: 8px 15px; /* Ajusta el padding vertical para reducir la altura */
cursor: pointer;
font-size: 14px; /* Reduce el tamaño de la fuente */
border-radius: 8px;
display: flex;
align-items: center;
justify-content: center;
text-align: center; /* Centra horizontalmente el texto */

margin-left: auto; /* Alinea el botón al centro */
margin-right: auto; /* Alinea el botón al centro */
font-weight: normal; /* Quita la negrita */
}
.editar-button span {
color: white; /* Cambia el color del texto a blanco */
font-weight: normal; /* Quita la negrita */
}


.cancel-button2 {
  background-color: #D3D7DF;
  color: #3D475B;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 0;
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding-left: 24px;
  border-radius: 10px;
}

.cancel-button2 i {
  padding-left: 200px; /* Ajusta el espacio del icono */
}

.cancel-button2:hover {
  background-color: #EE316B;
  color: #FFFFFF;
}

.logo-reservas {
  position: absolute;
  top: 0;
  left: 0;
  width: 95.5%;
  height: 86px; /* Altura ajustable según tu preferencia */
  background-color: #B4B8BB; /* Color de fondo */
  display: flex;
  align-items: center;
  padding-left: 20px; /* Ajusta el espaciado izquierdo */
  text-align: center;
  border-radius: 10px;
}

.logo-reservas i {
  font-size: 64px; /* Tamaño del icono ajustable */
  margin-right: 25px; /* Espaciado entre el icono y el texto */
  margin-left: 20px;
  
}

.container-reservas h2 {
  margin-top: 80px; /* Ajusta el margen superior para compensar la altura de .logo */
  color: #3D475B;
}

.logo-reservas h2 {
  font-size: 28px; /* Ajusta el tamaño de la fuente según tu preferencia */
  margin-top: 0; /* Elimina el margen superior predeterminado */
  margin-bottom: 0; /* Elimina el margen inferior predeterminado */
  vertical-align: middle; /* Alinea verticalmente el texto con el icono */
  color: #3D475B;
}

.miCuentaContent {
display: none;
position: absolute;

}

.iniSesion:hover #miCuentaContent {
display: block;
}

.container-reservas {
margin-left: -290px;
margin-top: 23px;
}

.icon-color {
color: #3d475b; 
}

.miCuentaContent .footer {
position: sticky;
bottom: -20px;
width: calc(106% - 50px); /* Ajusta el ancho para compensar el padding de container-reservas */
z-index: 2; /* Asegura que esté por encima del contenido de container-reservas */
}

.container-reservas span{
margin-left: 10px;
}