/*menu css*/

/*hasta aqui menu*/

/* Estilos para el contenedor del formulario :) */
#form-container {
    margin-bottom: 20px;/* Ajusta los márgenes para reducir el tamaño del contenedor */
    padding: 20px;
    background-color: #9ca2a6ef; /*color del cuadro*/
    background-color: #ADADAD; /*borde del cuadro*/
    max-width: 1200px; /* Establece un ancho máximo para el contenedor*/
    max-width: 1000px; /* Ajusta este valor según el tamaño deseado */
    margin-left: auto; /* Centra el contenedor horizontalmente*/
    margin-right: auto;
    border-radius: 10px; /*curvea el cuadro*/
}
/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #0B6F63;
}
label::after {
    content: "(*)";
    color: #0B6F63;
  }

/* Estilos para los campos de entrada */
input[type="time"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Estilos para el botón */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/*button:hover {
    background-color: #0056b3;
}*/
h1{/*Registro de horario*/
    font-size: 38px;/*agranda la letra*/
    margin-bottom: 30px; /* Añade un margen inferior al título(abajo) */
    /*margin-left: 100px; /* Ajusta para mover el título más a la derecha */
    text-align: center;
    font-family: sans-serif;
    color: #0B6F63;
}

.form-row {
    display: flex;
    margin-bottom: 50px;/*espacio de altura*/
}

.form-column {
    flex: 1;
    margin-right: 100px; /* Añade un margen a la derecha para separar los elementos(ANCHO) */
}

.form-column:last-child {
    margin-right: 0; /* No se necesita margen a la derecha para el último elemento de la fila */
}
#intervalo {
    width: 50%; /* Puedes ajustar el valor según tus necesidades */
}
/*CAMBIOS PARA BOTONES RESPONSIVOS ------------------------------------------------------------*/
/* Estilos de los botones cancelar y registrar */
.button-container {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 20px; /* Agrega un margen superior */
}

.button-container button {
    /*margin: 0 90px; /* Agrega un margen horizontal entre los botones */
    margin: 0 190px;  /* Ajusta un margen horizontal entre los botones usando porcentajes */
   /* flex-grow: 1; /* Permite que los botones crezcan para ocupar el espacio disponible */
    max-width: 95%; /* Establece un ancho máximo para los botones */
    font-size: 16px; /* Tamaño de fuente predeterminado */
}
/* Estilos específicos para pantallas más pequeñas*/
@media screen and (max-width: 600px) {
    .button-container {
        flex-direction: column; /* Cambia la dirección de los botones a vertical */
        align-items: center; /* Centra los botones verticalmente */
    }

    .button-container button {
        margin: 2% 0; /* Ajusta el margen superior e inferior */
        width: 150%; /* Ajusta el ancho de los botones al 90% del contenedor */
        font-size: 15px;
    }
}
/* Estilos específicos para pantallas más grandes */
@media screen and (min-width: 1200px) {
    .button-container button {
        font-size: 16px; /* Ajusta el tamaño de la fuente para botones más pequeños en pantallas grandes */
    }
}
/*hasta aqui CAMBIO DE BOTONES RESPONSIVOS---------------------------------------------------------------------*/
.cancelar-btn {
    background-color: #ccc; /* Color plomito */
    color: white; /* Color del texto */
    padding: 10px 50px; /* Ajusta el tamaño del botón */
    border: 1px solid #999; /* Añade un borde */
    border-radius: 5px; /* Redondea las esquinas */
    cursor: pointer;
    background-color: #393E41;
}

.registrar-btn {
    background-color: #0B6F63; /* Color verde */
    color: white; /* Color del texto */
    padding: 10px 50px;
    border: 1px solid #0B6F63;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0B6F63;
}
.cancelar-btn:hover{
    background-color: #ee316b;
    transition: 0.5s;
}
.registrar-btn:hover{
    background-color: #17ae74;
    transition: 0.5s;
}


