/* Estilos para el formulario */
form {
    margin-bottom: 10px;
    padding: 25px;
    background-color: #d7d5d5;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #0B6F63;
}
label::after {
    content: "(*)";
    color: #0B6F63;
}

/* Estilos para los campos de entrada */
input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#column-unico select{
    width: 47%;
}

/* Estilos para el botón */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

h1 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
    font-family: sans-serif;
    color: #0B6F63;
}

.error{
    margin: 0px;
    font-size: smaller;
    color: red;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-column {
    flex: 1;
    margin-right: 50px;
}

.form-column:last-child {
    margin-right: 0;
}

/* Estilos de los botones cancelar y registrar */
.button-container {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 15px;
}

.button-container button {
    font-size: 16px;
}

#csvForm{
    display: flex; 
    align-items: center;
}

#csvForm input{
    flex: 1;
}

#csvForm input{
    margin-right: 5%;
}


/* Estilos específicos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    form{
        max-width: 80%;
        padding: 30px;
    }

    .form-row{
        flex-direction: column;
        margin-bottom: 0px;
    }

    .form-column{
        margin-right: 0px;
    }

    #column-unico select{
        width: 100%;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-container button {
        margin: 2% 0;
        width: 100%;
        font-size: 15px;
    }

    .csv{
        margin-left: 5%;
    }
}

/* Estilos específicos para pantallas más grandes */
@media screen and (min-width: 1200px) {
    .button-container button {
        font-size: 16px;
    }
}

.cancelar-btn {
    background-color: #393E41;
    color: white;
    padding: 10px 50px;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
}

.registrar-btn {
    background-color: #0B6F63;
    color: white;
    padding: 10px 50px;
    border: 1px solid #0B6F63;
    border-radius: 5px;
    cursor: pointer;
}

.cancelar-btn:hover{
    background-color: #ee316b;
    transition: 0.5s;
}

.registrar-btn:hover{
    background-color: #17ae74;
    transition: 0.5s;
}


.agregar-btn{
    height: 5vh;
    margin-top: 4vh;
}


.materiasDocente label::after{
    content: "";
    color: #0B6F63;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
  }
  td {
    border: 1px solid #0D7360;
    background-color: #bbc0c2;
    text-align: center;
    padding: 8px;
  }
  th {
    background-color: #0D7360;
    border: 1px solid #bbc0c2;
    text-align: center;
    color: white;
    padding: 8px;
  }
  
  td button {
    margin-right: 2px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .edit-btn {
    background-color: #393e41;
    color: white;
    background-color: #393e41;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
  }

  .delete-btn {
    background-color: #0D7360;
    color: white;
  }
  .edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
  }